<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      TRIVIA
    </ion-title>
    <!-- Añadir ion-segment-->

    <ion-segment scrollable [value]="categorias[0]" (ionChange)="cambiarCategoria($event)">
      <ion-segment-button [value]="categoria" *ngFor="let categoria of categorias">
        <ion-label>{{categoria}}</ion-label>
      </ion-segment-button>
    </ion-segment>
     
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <app-introduccion *ngIf= "selectedSegment == 'introduccion'"
  [titulo] = "titulo"
  [descripcion]= "descripcion"
  [url]= "url"></app-introduccion>
<app-preguntas *ngIf= "selectedSegment == 'preguntas'"></app-preguntas>
<app-ranking *ngIf= "selectedSegment == 'estadistica'"></app-ranking>


    
</ion-content>

